<section class="blog">
    <div class="item col-md-4">
      <div class="blok-read-sm">
        <a routerLink="/single1" class="hover-image">
          <img src="assets/images/sea.jpg" alt="image">
          <span class="layer-block"></span>
        </a>
        <div class="editor-choice">
          <i class="fa fa-star"></i>
          <a routerLink="/editor-choice">Editor’s Choice</a>
        </div>
        <div class="content-block">
          <span class="point-caption bg-blue-point"></span>
          <span class="bottom-line bg-blue-point"></span>
          <h4>Discovering OM: A visit back to The Vedas</h4>
          <p>Gregor then turned to look out the window at the dull weather. Drops of rain could pane, which made..</p>
          <div class="button-main bg-fio-point">read more</div>
          <div class="like-wrap">
            <a href="#"><i class="fa fa-heart col-red"></i></a><span>224</span>
            <a href="#"><i class="fa fa-comment col-green"></i></a><span>89</span>
          </div>
        </div>
      </div>
    </div>
  
    <div class="item col-md-4">
      <div class="blok-read-sm">
        <a routerLink="/single1" class="hover-image">
          <img src="assets/images/sea.jpg" alt="image">
          <span class="layer-block"></span>
        </a>
        <div class="editor-choice">
          <i class="fa fa-star"></i>
          <a routerLink="/editor-choice">Editor’s Choice</a>
        </div>
        <div class="content-block">
          <span class="point-caption bg-blue-point"></span>
          <span class="bottom-line bg-blue-point"></span>
          <h4>Discovering OM: A visit back to The Vedas</h4>
          <p>Gregor then turned to look out the window at the dull weather. Drops of rain could pane, which made..</p>
          <div class="button-main bg-fio-point">read more</div>
          <div class="like-wrap">
            <a href="#"><i class="fa fa-heart col-red"></i></a><span>224</span>
            <a href="#"><i class="fa fa-comment col-green"></i></a><span>89</span>
          </div>
        </div>
      </div>
    </div>
  
    <div class="item col-md-4">
      <div class="blok-read-sm">
        <a routerLink="/single1" class="hover-image">
          <img src="assets/images/sea.jpg" alt="image">
          <span class="layer-block"></span>
        </a>
        <div class="editor-choice">
          <i class="fa fa-star"></i>
          <a routerLink="/editor-choice">Editor’s Choice</a>
        </div>
        <div class="content-block">
          <span class="point-caption bg-blue-point"></span>
          <span class="bottom-line bg-blue-point"></span>
          <h4>Discovering OM: A visit back to The Vedas</h4>
          <p>Gregor then turned to look out the window at the dull weather. Drops of rain could pane, which made..</p>
          <div class="button-main bg-fio-point">read more</div>
          <div class="like-wrap">
            <a href="#"><i class="fa fa-heart col-red"></i></a><span>224</span>
            <a href="#"><i class="fa fa-comment col-green"></i></a><span>89</span>
          </div>
        </div>
      </div>
    </div>
  </section>