.btn-see-more {
    background-color: #80b6d3;
    color: white;
    border: none;
    padding: 10px 25px;
    font-size: 1.1rem;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
  }
  
  .btn-see-more:hover {
    background-color: #66a1c2;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
  }
  