.scrollable-comments {
  max-height: 300px;
  overflow-y: auto;
  background-color: #f9f9f9;
}

.scrollable-comments::-webkit-scrollbar {
  width: 8px;
}

.scrollable-comments::-webkit-scrollbar-track {
  background: transparent;
}

.scrollable-comments::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}
