/* Ajout de style personnalisé */
.container {
    max-width: 800px;
  }
  
  .card {
    margin: 20px 0;
  }
  
  .card-title {
    font-size: 1.8rem;
    font-weight: bold;
  }
  
  .card-text {
    font-size: 1rem;
  }
  
  .card-body {
    padding: 30px;
  }
  
  .card-text.text-muted {
    font-style: italic;
  }
  
  .card-body a {
    text-decoration: none;
    color: #007bff;
  }
  
  .card-body a:hover {
    color: #0056b3;
    text-decoration: underline;
  }
  
  .spinner-border {
    width: 3rem;
    height: 3rem;
  }
  