<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-md-3 sidebar">
      <app-sidebar></app-sidebar>
    </div>
    
    <!-- Content -->
    <div class="col-md-9 content">
      <h2 class="text-center text-primary mb-4">List of Registered Participants</h2>
      <div *ngIf="users.length > 0; else noUsers">
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead class="thead-dark">
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                  <button class="btn btn-danger btn-sm" (click)="deleteUserFromEvent(user.email)">
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <ng-template #noUsers>
        <p class="text-center text-muted">No participants registered for this event!</p>
      </ng-template>
    </div>
  </div>
</div>