
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Date</th>
            <th>Location</th>
            <th>Price</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let event of events">
            <td>{{ event.nomEvent }}</td>
            <td>{{ event.description }}</td>
            <td>{{ event.dateEvent | date }}</td>
            <td>{{ event.lieu }}</td>
            <td>{{ event.prixevent }} dt</td>
            <td>
              <button (click)="editEvent(event)" class="btn btn-warning btn-sm">
                <i class="fa fa-pencil"></i>
              </button>
              <button (click)="deleteEvent(event.idEvent)" class="btn btn-danger btn-sm">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>