<app-navbar></app-navbar>

<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-md-3 sidebar">
      <app-sidebar></app-sidebar>
    </div>

    <!-- Main content -->
    <div class="col-md-9">
      <div class="container">
        <h2 class="mt-4">Événements associés à la logistique</h2>
        
        <!-- Table for events -->
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead class="thead-dark">
              <tr>
                <th>Nom de l'événement</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let event of events">
                <td>{{ event.nomEvent }}</td>
                <td>{{ event.dateEvent | date:'dd/MM/yyyy' }}</td>
              </tr>
            </tbody>
          </table>
        </div>


      </div>
    </div>
  </div>
</div>
