<div class="container mt-4">
    <h2>Modifier la Logistique</h2>
  
    <form (ngSubmit)="updateLogestique()">
      <div class="mb-3">
        <label for="ressourceName" class="form-label">Nom de la ressource</label>
        <input type="text" id="ressourceName" class="form-control" [(ngModel)]="logestique.ressourceName" name="ressourceName" required>
      </div>
  
      <div class="mb-3">
        <label for="quantity" class="form-label">Quantité</label>
        <input type="number" id="quantity" class="form-control" [(ngModel)]="logestique.quantity" name="quantity" required>
      </div>
  
      <button type="submit" class="btn btn-primary">Mettre à jour</button>
    </form>
  </div>
  