<div>
    <h2>Edit Stock</h2>
  
    <form (ngSubmit)="onSubmit()">
      <div>
        <label for="capacite">Capacity :</label>
        <input type="number" id="capacite" [(ngModel)]="stock.capacite" name="capacite" required>
      </div>
      <div>
        <label for="acheminement">Acheminement :</label>
        <input type="text" id="acheminement" [(ngModel)]="stock.acheminement" name="acheminement" required>
      </div>
      <div>
        <label for="TypeStock">Type :</label>
        <input type="text" id="TypeStock" [(ngModel)]="stock.TypeStock" name="TypeStock" required>
      </div>
      <div>
        <label for="association">Association :</label>
        <select id="association" [(ngModel)]="stock.associations.idAss" name="association" required>
          <option *ngFor="let association of associations" [value]="association.idAss">
            {{ association.nomAss }}
          </option>
        </select>
      </div>
  
      <button type="submit">Save</button>
      <button type="button" class="btn btn-secondary" routerLink="/list-stock">
        Cancel
      </button>
    </form>
  </div>
  