<section class="testimonial">
    <div class="col-md-7 testimonial-blog">
      <div id="wrapper">
        <!-- DEMO -->
        <div class="testimonials-slider">
          <div class="slide">
            <div class="testimonials-carousel-thumbnail">
              <img width="120" alt="" src="assets/images/team1.jpg">
            </div>
            <div class="testimonials-carousel-context">
              <div class="testimonials-name">
                Rub elvi <span>shuvohabib.com</span>
              </div>
              <div class="testimonials-carousel-content">
                <p>Sed posuere consectetur est at lobortis. Fusce dapibus, tellus ac cursus commodo. Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis. Fusce dapibus, tellus ac cursus commodo.</p>
              </div>
            </div>
          </div>
  
          <div class="slide">
            <div class="testimonials-carousel-thumbnail">
              <img width="120" alt="" src="assets/images/team2.jpg">
            </div>
            <div class="testimonials-carousel-context">
              <div class="testimonials-name">
                Jewel Jahan <span>technextit.com</span>
              </div>
              <div class="testimonials-carousel-content">
                <p>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis. Fusce dapibus, tellus ac cursus commodo.</p>
              </div>
            </div>
          </div>
  
          <div class="slide">
            <div class="testimonials-carousel-thumbnail">
              <img width="120" alt="" src="assets/images/team3.jpg">
            </div>
            <div class="testimonials-carousel-context">
              <div class="testimonials-name">
                Mark Zuckerberg <span>www.Facebook.com</span>
              </div>
              <div class="testimonials-carousel-content">
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal..</p>
              </div>
            </div>
          </div>
        </div>
        <!-- END DEMO -->
        <div class="clearfix"></div>
      </div>
    </div>
  
    <div class="col-md-4 subscribe-form">
      <div class="subscribe">
        <h4>Subscribe to Newsletter</h4>
        <div class="email-field">
          <form>
            <div class="email-input">
              <input type="email" placeholder="Enter your email..." required>
              <i class="fa fa-check col-green"></i>
            </div>
            <button type="submit" class="button-main bg-green">Submit</button>
          </form>
          <span>We never spam :)</span>
        </div>
      </div>
    </div>
  </section>