body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .container-fluid {
    padding: 0;
  }
  
  .row {
    margin: 0;
    display: flex;
  }
  
  .sidebar {
    background-color: #212529;
    color: white;
    padding: 20px;
    border-right: 1px solid #dee2e6;
    height: 100vh;
    position: fixed;
    width: 250px;
    display: flex;
    flex-direction: column;
  }
  
  .content {
    margin-left: 250px;
    padding: 30px;
    width: calc(100% - 250px);
    background-color: #f0f8ff;
  }
  