<div class="connection-container">
  <div class="connection-content">
    <img src="/assets/img/logo.png" width="120" alt="logo" class="logo mb-3"  />
    <h1>Welcome to Humanity</h1>
    <p class="quote">
      <strong>"Helping one person might not change the whole world, but it could change the world for one person."</strong>
    </p>
    
    <div class="button-group mt-4">
      <a routerLink="/signin" class="signin-button">Sign In</a>
      <a routerLink="/signup" class="signup-button">Sign Up</a>
    </div>
  </div>
</div>
