<div style="position: relative; display: inline-block;">
  <!-- 🔔 Bouton -->
  <button (click)="togglePopup()" class="btn btn-primary">
    🔔 Notifications ({{ notifications.length }})
  </button>

  <!-- 📬 Popup -->
  <div *ngIf="isPopupVisible" class="notification-popup">
    <h6>📬 Notifications récentes</h6>
    <ul *ngIf="notifications.length > 0; else noNotif">
      <li *ngFor="let notif of notifications">{{ notif }}</li>
    </ul>
    <ng-template #noNotif>
      <p>Aucune notification pour le moment.</p>
    </ng-template>
  </div>
</div>
